@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1  class="display-4">JokesApps</h1>
    <p><h1>Queres te rir vem para aqui</h1></p>
    <p><img src="~/imagens/ficheiro.png" /></p>
</div>
